{% if data.statusCodes is defined and data.statusCodes is not empty %}
<table class="fullwidth">
    <thead>
    <tr>
        <th>Status Code</th>
        <th>Description</th>
    </tr>
    </thead>
    <tbody>
    {% for status_code, descriptions in data.statusCodes %}
        <tr>
            <td><a href="http://en.wikipedia.org/wiki/HTTP_{{ status_code }}" target="_blank">{{ status_code }}</a></td>
            <td>
                <ul>
                    {% for description in descriptions %}
                        <li>{{ description }}</li>
                    {%  endfor %}
                </ul>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{% endif %}